
extends ../layout/main
block variable
  -
    var title_page = 'Про комплекс'
    var id_page = 'id-page-about'
    var class_page = 'class-page-about'
    var breadcrumbsSubitem = [
    ]
    var sticky1 = [
      {
        img: './assets/images/about/sticky1/Card 1.jpg',
        title: 'Зустрітися на бізнес-каву у ресторані чи посмакувати свіжим круасаном у пекарні на першому поверсі',
      },
      {
        img: './assets/images/about/sticky1/Card 2.jpg',
        title: 'Зробити б\'юті-процедури у сусідньому будинку',
      },
      {
        img: './assets/images/about/sticky1/Card 3.jpg',
        title: 'Пограти з дитиною в пінг-понг чи позасмагати біля басейну',
      },
      {
        img: './assets/images/about/sticky1/Card 4.jpg',
        title: 'Відпочити та насолодитися видом на річку Уж із власної видової тераси',
      },
      {
        img: './assets/images/about/sticky1/Card 5.jpg',
        title: 'А ввечері всією сім\'єю піти на шопінг, адже на території нашого комплексу розташований сучасний торгово-розважальний центр',
      }
    ];
    var sticky2 = [
      {
        img: './assets/images/about/sticky2/Img0.jpg',
        title: 'Сусіди, які мають з вами спільні цінності',
      },
      {
        img: './assets/images/about/sticky2/Img.jpg',
        title: 'Безпека для наймолодших мешканців',
      },
      {
        img: './assets/images/about/sticky2/Img-1.jpg',
        title: 'Дружня атмосфера в школі та за її межами – діти будуть в захваті від різноманіття активностей та дозвілля',
      },
      {
        img: './assets/images/about/sticky2/Img-2.jpg',
        title: 'Можливість організувати День народження чи бізнес-зустріч на території комплексу',
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/about.bundle.js')
block content
  .inner-page-head
    include ../includes/breadcrumbs.pug
    <svg class="inner-page-head__decor" preserveAspectRatio="xMidYMid slice" width="1920" height="141" viewBox="0 0 1920 141" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M72.687 54.116L158.67 140.881L245.097 54.116L331.08 140.881L417.507 54.116L480 117.177V63.508L417.507 0L331.08 87.2117L245.097 0L158.67 87.2117L72.687 0L0 73.3473V127.463L72.687 54.116Z" fill="white"/>
      <path d="M887.313 54.116L801.33 140.881L714.903 54.116L628.92 140.881L542.493 54.116L480 117.177V63.508L542.493 0L628.92 87.2117L714.903 0L801.33 87.2117L887.313 0L960 73.3473V127.463L887.313 54.116Z" fill="white"/>
      <path d="M1032.69 54.116L1118.67 140.881L1205.1 54.116L1291.08 140.881L1377.51 54.116L1440 117.177V63.508L1377.51 0L1291.08 87.2117L1205.1 0L1118.67 87.2117L1032.69 0L960 73.3473V127.463L1032.69 54.116Z" fill="white"/>
      <path d="M1847.31 54.116L1761.33 140.881L1674.9 54.116L1588.92 140.881L1502.49 54.116L1440 117.177V63.508L1502.49 0L1588.92 87.2117L1674.9 0L1761.33 87.2117L1847.31 0L1920 73.3473V127.463L1847.31 54.116Z" fill="white"/>
    </svg>
    .inner-page-head__title Про комплекс
  .sticky-block.sticky-block--tablet-no-top-offset(data-sticky-block)
    .sticky-block__content
      .sticky-block__title.text-style-1920-h-2 
        span простір, який забезпечує усім необхідним 
        span.color-5-d-85-a-3 для максимально комфортного життя 
        span сучасної родини
      .sticky-block__right
        each val, index in sticky1
          .sticky1-card
            .sticky1-card__img-wrap
              .sticky1-card__img
                img(src=val.img, alt="", srcset="" loading="lazy")
            .sticky1-card__content
              .sticky1-card__number #{index < 9 ? '0'+(index + 1) : index + 1 }
              .sticky1-card__text.text-style-1920-h-4 #{val.title}
        .sticky-block-custom-card
          <svg class="sticky-block-custom-card__decor" width="96" height="28" viewBox="0 0 96 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.5374 10.7556L31.7341 28L49.0194 10.7556L66.2161 28L83.5014 10.7556L96 23.2889V12.6222L83.5014 0L66.2161 17.3333L49.0194 0L31.7341 17.3333L14.5374 0L0 14.5778V25.3333L14.5374 10.7556Z" fill="#EFF3F7"/>
          </svg>
          .sticky-block-custom-card__title Для когось – ідеальний день, а для мешканців ЖК RIVERVILLE – приємна буденність
          <a href="/3d" class="button-30 button-30--white">
            <span>Перейти до вибору квартир</span>
          </a>
  <svg preserveAspectRatio="xMidYMid slice" class="about-decor section-top-margin" width="1920" height="140" viewBox="0 0 1920 140" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_619_2425)">
    <path d="M8.41329 94.9135C37.6384 74.6341 67.7491 62.0159 96.9742 57.0587C149.668 48.4964 188.192 71.0289 229.373 94.4628C272.768 119.699 322.362 148.541 390.554 137.275C418.893 132.768 443.247 122.403 464.945 106.18L480 96.2654V45.7925L441.476 71.0289L440.148 71.9302C423.764 84.0978 405.609 91.7589 383.911 95.3641C330.332 103.926 291.365 81.3939 250.185 57.5094C206.79 32.2729 158.081 3.88191 90.3321 14.6975C59.7786 19.6547 29.6679 31.3716 0 49.3977L0 100.321L7.97049 95.3641L8.41329 94.9135Z" fill="white"/>
    <path d="M968.413 86.6908C997.638 66.4115 1027.75 53.7932 1056.97 48.8361C1109.67 40.2737 1148.19 62.8063 1189.37 86.2402C1232.77 111.477 1282.36 140.318 1350.55 129.052C1378.89 124.546 1403.25 114.181 1424.94 97.9571L1440 88.0428V37.5698L1401.48 62.8063L1400.15 63.7076C1383.76 75.8752 1365.61 83.5362 1343.91 87.1414C1290.33 95.7038 1251.37 73.1712 1210.18 49.2867C1166.79 24.0503 1118.08 -4.34075 1050.33 6.47488C1019.78 11.432 989.668 23.149 960 41.175V92.0986L967.97 87.1414L968.413 86.6908Z" fill="white"/>
    <path d="M488.413 90.8021C517.638 70.5228 547.749 57.9046 576.974 52.9474C629.668 44.385 668.192 66.9176 709.373 90.3515C752.768 115.588 802.362 144.43 870.554 133.163C898.893 128.657 923.247 118.292 944.945 102.068L960 92.1541V41.6811L921.476 66.9176L920.148 67.8189C903.764 79.9865 885.609 87.6476 863.911 91.2528C810.332 99.8151 771.365 77.2826 730.185 53.3981C686.79 28.1616 638.081 -0.229418 570.332 10.5862C539.779 15.5434 509.668 27.2603 480 45.2864V96.2099L487.97 91.2528L488.413 90.8021Z" fill="white"/>
    <path d="M1448.41 82.5795C1477.64 62.3002 1507.75 49.6819 1536.97 44.7248C1589.67 36.1624 1628.19 58.695 1669.37 82.1288C1712.77 107.365 1762.36 136.207 1830.55 124.941C1858.89 120.434 1883.25 110.069 1904.94 93.8457L1920 83.9314V33.4585L1881.48 58.6949L1880.15 59.5963C1863.76 71.7638 1845.61 79.4249 1823.91 83.0301C1770.33 91.5925 1731.37 69.0599 1690.18 45.1754C1646.79 19.9389 1598.08 -8.45207 1530.33 2.36356C1499.78 7.32072 1469.67 19.0377 1440 37.0637V87.9873L1447.97 83.0301L1448.41 82.5795Z" fill="white"/>
    </g>
    <defs>
    <clipPath id="clip0_619_2425">
    <rect width="1920" height="140" fill="white"/>
    </clipPath>
    </defs>
  </svg>
  .about-block-with-render1
    .about-block-with-render1__content
      .about-block-with-render1__title.text-style-1920-h-2
        span Вдале розташування житлового комплексу гарантує зручне сполучення з іншими частинами міста та забезпечує 
        span.color-5-d-85-a-3 безліч можливостей для дозвілля, бізнес-активностей та сучасного міського життя
      <svg class="about-block-with-render1__decor" width="138" height="40" viewBox="0 0 138 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.8975 15.3651L45.6177 40L70.4654 15.3651L95.1856 40L120.033 15.3651L138 33.2698V18.0317L120.033 0L95.1856 24.7619L70.4654 0L45.6177 24.7619L20.8975 0L0 20.8254V36.1905L20.8975 15.3651Z" fill="white"/>
      </svg>

    .about-block-with-render1__bg
      <picture>
        <source srcset="./assets/images/about/about-block-with-render1.jpg" media="(min-width: 1025px)">
        <source srcset="./assets/images/about/about-block-with-render1@075x.jpg" media="(min-width: 601px) and (max-width: 1024px)">
        <source srcset="./assets/images/about/about-block-with-render1_mobile.jpg" media="(min-width: 321px) and (max-width: 600px)">
        <img src="#" alt="" loading="lazy">
      </picture>
  .sticky-block.sticky-block--mobile-title-centered(data-sticky-block2)
    .sticky-block__content
      .sticky-block__title.text-style-1920-h-2 
          span Ми створюємо простір, 
          span.color-14427-c сповнений натхнення та спокою:
      .sticky-block__right
        each val, index in sticky2
          .sticky2-card
            .sticky2-card__inner
              .sticky2-card__img-wrap
                .sticky2-card__img
                  img(src=val.img, alt="", srcset="" loading="lazy")
                  <svg class="sticky2-card__decor" width="385" height="112" viewBox="0 0 385 112" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M58.301 43.0222L127.267 112L196.588 43.0222L265.554 112L334.875 43.0222L385 93.1555V50.4889L334.875 0L265.554 69.3333L196.588 0L127.267 69.3333L58.301 0L0 58.3111V101.333L58.301 43.0222Z" fill="#EFF3F7"/>
                  </svg>
              .sticky2-card__text.text-style-1920-h-4 #{val.title}
        .sticky2-card
          .sticky2-card__inner
            .sticky2-card__img-wrap
              .sticky2-card__img
                img(src='./assets/images/about/sticky2/Img-3.jpg', alt="", srcset="" loading="lazy")
            .sticky2-card__text.sticky2-card__text--blue.text-style-1920-h-4 
              div А про всі клопоти подбає адміністрація Riverville
              a(href="/3d").button-30.button-30--small-white 
                span Обрати квартиру
  <svg  preserveAspectRatio="xMidYMid slice" class="about-decor section-bottom-margin section-top-margin" width="1920" height="141" viewBox="0 0 1920 141" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M72.687 54.116L158.67 140.881L245.097 54.116L331.08 140.881L417.507 54.116L480 117.177V63.508L417.507 0L331.08 87.2117L245.097 0L158.67 87.2117L72.687 0L0 73.3473V127.463L72.687 54.116Z" fill="white"/>
    <path d="M887.313 54.116L801.33 140.881L714.903 54.116L628.92 140.881L542.493 54.116L480 117.177V63.508L542.493 0L628.92 87.2117L714.903 0L801.33 87.2117L887.313 0L960 73.3473V127.463L887.313 54.116Z" fill="white"/>
    <path d="M1032.69 54.116L1118.67 140.881L1205.1 54.116L1291.08 140.881L1377.51 54.116L1440 117.177V63.508L1377.51 0L1291.08 87.2117L1205.1 0L1118.67 87.2117L1032.69 0L960 73.3473V127.463L1032.69 54.116Z" fill="white"/>
    <path d="M1847.31 54.116L1761.33 140.881L1674.9 54.116L1588.92 140.881L1502.49 54.116L1440 117.177V63.508L1502.49 0L1588.92 87.2117L1674.9 0L1761.33 87.2117L1847.31 0L1920 73.3473V127.463L1847.31 54.116Z" fill="white"/>
  </svg>
  .about-block-with-render2
    .about-block-with-render2__content
      .about-block-with-render2__title.text-style-1920-h-2
        span Житловий комплекс RIVERVILLE 
        span.color-5-d-85-a-3 є втіленням максимально комфортного середовища 
        span для життя та дозвілля
      <svg class="about-block-with-render2__decor" width="138" height="40" viewBox="0 0 138 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.8975 15.3651L45.6177 40L70.4654 15.3651L95.1856 40L120.033 15.3651L138 33.2698V18.0317L120.033 0L95.1856 24.7619L70.4654 0L45.6177 24.7619L20.8975 0L0 20.8254V36.1905L20.8975 15.3651Z" fill="white"/>
      </svg>
    .about-block-with-render2__bg
      <picture>
        <source srcset="./assets/images/about/about-block-with-render2.jpg" media="(min-width: 1025px)">
        <source srcset="./assets/images/about/about-block-with-render2@075x.jpg" media="(min-width: 601px) and (max-width: 1024px)">
        <source srcset="./assets/images/about/about-block-with-render2-mobile.jpg" media="(max-width: 600px)">
        <img src="#" alt="" loading="lazy">
      </picture>
  .about-img-text
    .about-img-text__wrap
      .about-img-text__content.color-07222-f
        div.text-style-1920-h-2(data-split-lines-and-fade-up) Комфорт для сучасних сімей
        div.text-style-1920-h-4(data-split-lines-and-fade-up) Кожен день у спокої, гармонії та задоволенні – найбільша цінність сучасних українських сімей, чимало з яких зосереджені на побудові успішного бізнесу. Саме тому під час проєктування комплексу ми втілили елементи насолоди та комфорту
      .about-img-text__img-wrap
        .about-img-text__img
          <picture>
            <source srcset="./assets/images/about/about-img-text.jpg" media="(min-width: 1025px)">
            <source srcset="./assets/images/about/about-img-text@075x.jpg" media="(min-width: 321px) and (max-width: 1024px)">
            <img src="#" alt="" loading="lazy">
          </picture>
  <svg  preserveAspectRatio="xMidYMid slice" class="about-decor section-bottom-margin section-top-margin" width="1920" height="140" viewBox="0 0 1920 140" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_623_2444)">
    <path d="M8.41329 94.9135C37.6384 74.6341 67.7491 62.0159 96.9742 57.0587C149.668 48.4964 188.192 71.0289 229.373 94.4628C272.768 119.699 322.362 148.541 390.554 137.275C418.893 132.768 443.247 122.403 464.945 106.18L480 96.2654V45.7925L441.476 71.0289L440.148 71.9302C423.764 84.0978 405.609 91.7589 383.911 95.3641C330.332 103.926 291.365 81.3939 250.185 57.5094C206.79 32.2729 158.081 3.88191 90.3321 14.6975C59.7786 19.6547 29.6679 31.3716 0 49.3977L0 100.321L7.97049 95.3641L8.41329 94.9135Z" fill="white"/>
    <path d="M968.413 86.6908C997.638 66.4115 1027.75 53.7932 1056.97 48.8361C1109.67 40.2737 1148.19 62.8063 1189.37 86.2402C1232.77 111.477 1282.36 140.318 1350.55 129.052C1378.89 124.546 1403.25 114.181 1424.94 97.9571L1440 88.0428V37.5698L1401.48 62.8063L1400.15 63.7076C1383.76 75.8752 1365.61 83.5362 1343.91 87.1414C1290.33 95.7038 1251.37 73.1712 1210.18 49.2867C1166.79 24.0503 1118.08 -4.34075 1050.33 6.47488C1019.78 11.432 989.668 23.149 960 41.175V92.0986L967.97 87.1414L968.413 86.6908Z" fill="white"/>
    <path d="M488.413 90.8021C517.638 70.5228 547.749 57.9046 576.974 52.9474C629.668 44.385 668.192 66.9176 709.373 90.3515C752.768 115.588 802.362 144.43 870.554 133.163C898.893 128.657 923.247 118.292 944.945 102.068L960 92.1541V41.6811L921.476 66.9176L920.148 67.8189C903.764 79.9865 885.609 87.6476 863.911 91.2528C810.332 99.8151 771.365 77.2826 730.185 53.3981C686.79 28.1616 638.081 -0.229418 570.332 10.5862C539.779 15.5434 509.668 27.2603 480 45.2864V96.2099L487.97 91.2528L488.413 90.8021Z" fill="white"/>
    <path d="M1448.41 82.5795C1477.64 62.3002 1507.75 49.6819 1536.97 44.7248C1589.67 36.1624 1628.19 58.695 1669.37 82.1288C1712.77 107.365 1762.36 136.207 1830.55 124.941C1858.89 120.434 1883.25 110.069 1904.94 93.8457L1920 83.9314V33.4585L1881.48 58.6949L1880.15 59.5963C1863.76 71.7638 1845.61 79.4249 1823.91 83.0301C1770.33 91.5925 1731.37 69.0599 1690.18 45.1754C1646.79 19.9389 1598.08 -8.45207 1530.33 2.36356C1499.78 7.32072 1469.67 19.0377 1440 37.0637V87.9873L1447.97 83.0301L1448.41 82.5795Z" fill="white"/>
    </g>
    <defs>
    <clipPath id="clip0_623_2444">
    <rect width="1920" height="140" fill="white"/>
    </clipPath>
    </defs>
  </svg>
  .about-block-with-render3
    .about-block-with-render3__content
      .about-block-with-render3__title.text-style-1920-h-2
        span ЖК RIVERVILLE створений саме для тих, 
        span.color-5-d-85-a-3 хто цінує комфорт, естетику та високу якість життя
      <svg class="about-block-with-render3__decor"  width="138" height="40" viewBox="0 0 138 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.8975 15.3651L45.6177 40L70.4654 15.3651L95.1856 40L120.033 15.3651L138 33.2698V18.0317L120.033 0L95.1856 24.7619L70.4654 0L45.6177 24.7619L20.8975 0L0 20.8254V36.1905L20.8975 15.3651Z" fill="white"/>
      </svg>
      a(href="/infrastructure").button-30.button-30--blue
        span Переглянути інфраструктуру
    .about-block-with-render3__bg
      <picture>
        <source srcset="./assets/images/about/about-block-with-render3.jpg" media="(min-width: 1025px)">
        <source srcset="./assets/images/about/about-block-with-render3@075x.jpg" media="(min-width: 321px) and (max-width: 1024px)">
        <img src="#" alt="" loading="lazy">
      </picture>



        


  include ../includes/contact-screen.pug
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
